body{
  font-size: 100%;
  height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 19px;
  align-items: center;
}
.bodyText{
  line-height: 110%;
  text-align: center;
  width: 60vw;
  padding: 10px;
  height: fit-content;
}
.me{
  width: 60vw;
  max-width: 900px;
}
a{
  font-style: italic; 
  color: #E81452;
}
a:hover{
  color: #bf1b4b;
}
