body{
    font-size: 100%;
    height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 19px;
    align-items: center;
  }

  a{
    color: #E81452;
  }
  a:hover{
    color: #bf1b4b;
    text-decoration: underline;
  }
  .padded{
  margin-top: 40px;
  }